{% extends "base.html" %}

{% block title %}Import Strava Data{% endblock %}

{% block content %}
  <h1>Import Strava Data</h1>
  {% if output %}
    {{ output }}
  {% endif %}
  <p>Select which activities that you want to import.</p>
  <form action="/import" method="get">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
{% endblock %}
