{% extends "base.html" %}

{% block content %}
  {% if login %}
    <p>Welcome to Data Analytics. Click the button below to login using Strava.</p>
    <p>Once you join, you'll be able to view your data in ways that it is hard to by just using Strava itself.</p>
    <p>Here are the main ways that you can view your data:
      <ol>
        <li>Graphs of your data for any sport, grouped by week, month, or year.</li>
        <li>Running data broken up by type: regular/long run/race/workout.</li>
        <li>Running data broken up by outside vs treadmill.</li>
        <li>Cycling data broken up by regular/commute/stationary.</li>
        <li>Listing of your KOMs/CRs and PRs</li>
        <li>Listing of your biggest stats for ranges that you specify. Example: What is the most mileage that I've ran over a seven day period?</li>
        <li>Standard listing of all activities that you've done, sortable.</li>
      </ol>
    </p>
    <p><a class="login" href="https://www.strava.com/oauth/authorize?client_id=4369&scope=view_private&response_type=code&redirect_uri=http://strava.barrettlangton.com/token_exchange&scope=view_private"><img src="/images/ConnectWithStrava.png"></a></p>
  {% else %}
    <div class="updates">
      <h2>Important Update</h2>
      <p>If you are not seeing data correctly on the charts and graphs, then go to the Import page to update all data. There has been an update to the dates used in the database that need updated.</p>
      <h2>Update Strava Data</h2>
      <a href="/import">Import/Update Data</a><br/>
    </div>
    {% if running %}
      <div class="running">
        <h2>Running Stats</h2>
        Max distance: {{ running.max_distance }} miles<br/>
        Max moving time: {{ running.max_moving_time }} hours<br/>
      </div>
    {% endif %}
    {% if riding %}
      <div class="biking">
        <h2>Riding Stats</h2>
        Max distance: {{ riding.max_distance }} miles<br/>
        Max moving time: {{ riding.max_moving_time }} hours<br/>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
