{% extends "base.html" %}

{% block title %}User Settings{% endblock %}

{% block content %}
  <h1>User Settings</h1>
  <h2>Set your default settings</h2>
  <p>What you choose here will be selected by default on any other page that you go to.</p>
  <form class="user_form" action="/user" method="post">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
{% endblock %}
