{% extends "base.html" %}

{% block content %}
  {% if output %}
    {{ output }}
  {% endif %}
  <h2>Select which activities that you want to import</h2>
  <form action="/import" method="get">
    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
{% endblock %}
